.text {
  line-height: 1.2;
}

.medium {
  font-size: 1.4em;
  @media (min-width: 992px) {
    font-size: 1.8em;
  }
}

.large {
  font-size: 1.4em;
  @media (min-width: 992px) {
    font-size: 1.8em;
  }
  @media (min-width: 1200px) {
    font-size: 2.2em;
  }
}

.weight-300 {
  font-weight: 300;
}

.weight-400 {
  font-weight: 400;
}
