.button {
  display: inline-block;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.2;
  font-size: 2em;
  border-radius: 0.5em;
  padding: 0.5em 0.75em;
  text-align: center;
  transition:
    color 0.25s ease-in-out,
    background-color 0.25s ease-in-out,
    box-shadow 0.25s ease-in-out;

  color: #000;
  background: #fff;
  box-shadow:
    inset 4px 4px 4px 0 rgba(0, 0, 0, 0),
    inset -4px -4px 4px 0 rgba(0, 0, 0, 0);

  @media (min-width: 992px) {
    padding: 0.25em 0.75em;
    font-size: 3em;
  }
  @media (min-width: 1200px) {
    font-size: 4em;
  }

  &:hover {
    background: #c6ac8f;
    box-shadow:
      inset 4px 4px 4px 0 rgba(0, 0, 0, 0.25),
      inset -4px -4px 4px 0 rgba(0, 0, 0, 0.25);
  }

  &:active {
    transition:
      color 0.1s ease-in-out,
      background-color 0.1s ease-in-out,
      box-shadow 0.1s ease-in-out;

    color: #fff;
    background: #000;
  }
}
