.section-hero {
  background: #c6ac8f;
  overflow: hidden;
  &__container {
    display: flex;
  }
  &__left {
    padding-top: 15px;
    padding-bottom: 40px;
    flex: 0 0 100%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    @media (min-width: 768px) {
      padding-right: 15px;
      padding-bottom: 60px;
      max-width: none;
      margin-left: 0;
      margin-right: 0;
      flex: 0 0 50%;
    }
    &__header {
      margin-bottom: 15px;
      nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 529px;
        font-size: 10px;
        @media (min-width: 768px) {
          font-size: 11px;
        }
        @media (min-width: 992px) {
          font-size: 14px;
        }
        @media (min-width: 1200px) {
          font-size: 18px;
        }
        &:after {
          content: "";
          display: block;
        }
      }
      a {
        text-align: center;
      }
      a:first-child {
        order: 1;
        margin-left: 10px;
        @media (min-width: 768px) {
          order: 0;
          margin-left: 0;
          margin-right: 10px;
        }
      }
      a:not(:first-child) {
        padding: 5px;
      }
      svg {
        display: block;
        width: 2em;
        height: 2em;
      }
      svg path {
        fill: currentColor;
      }
    }
    &__logo {
      position: relative;
      max-width: 522px;
      &:before {
        content: "";
        width: 0;
        display: block;
        padding-top: 66.858%;
      }
      svg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
  &__right {
    position: relative;
    flex: 0 0 auto;
    width: 50vw;
    display: none;
    @media (min-width: 768px) {
      display: block;
    }
    img {
      object-fit: cover;
    }
  }
}
