.section-benefit {
  padding-top: 10px;
  padding-bottom: 40px;
  @media (min-width: 992px) {
    padding-bottom: 60px;
  }
  @media (min-width: 1200px) {
    padding-bottom: 80px;
  }
  &__container {
  }
  &__title {
    text-align: center;
    margin-bottom: 35px;
    @media (min-width: 768px) {
      margin-bottom: 44px;
    }
    @media (min-width: 992px) {
      margin-bottom: 60px;
    }
  }
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
    margin: -10px auto;
    @media (min-width: 768px) {
      max-width: none;
      margin: 0 -8px;
    }
    @media (min-width: 992px) {
      margin-left: -15px;
      margin-right: -15px;
    }
  }
  &__item {
    flex: 0 0 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    @media (min-width: 768px) {
      display: block;
      flex-basis: calc(33.333% - 16px);
      margin: 0 8px;
    }
    @media (min-width: 992px) {
      flex-basis: calc(33.333% - 30px);
      margin-left: 15px;
      margin-right: 15px;
    }
  }
  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    margin-right: 30px;
    flex: 0 0 auto;
    @media (min-width: 768px) {
      width: auto;
      height: 60px;
      margin-right: 0;
    }
    @media (min-height: 992px) {
      height: 80px;
    }
    @media (min-width: 1200px) {
      height: 100px;
    }

    svg {
      max-width: 100%;
      max-height: 100%;
    }
  }
}
