.product-cart {
  color: #fff;

  &__img {
    position: relative;
    overflow: hidden;
    border-radius: 30px;
    background: #bababc;
    &:before {
      content: "";
      width: 0;
      padding-top: 100%;
      display: block;
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__title {
    margin-top: 0.5em;
  }

  &__info {
    margin-top: 4px;
    @media (min-width: 768px) {
      margin-top: 8px;
    }
  }
}
