* {
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

html {
  /* 10px */
  font-size: 62.5%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // background: var(--color-background);
  // color: var(--color-text);
}

.container {
  max-width: 1250px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.btn-reset {
  background: transparent;
  color: inherit;
  text-decoration: none;
  border: 0;
  border-radius: 0;
  padding: 0;
  font: inherit;
  cursor: pointer;
}

.link-reset {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
