.section-contacts {
  background: #000;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 40px;
  @media (min-width: 768px) {
    color: inherit;
    background: #c6ac8f;
  }
  @media (min-width: 992px) {
    padding-bottom: 60px;
  }
  @media (min-width: 1200px) {
    padding-bottom: 80px;
  }
  &__title {
    margin-bottom: 30px;
    @media (min-width: 768px) {
      margin-bottom: 20px;
    }
  }
  &__qr {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    white-space: nowrap;
    font-size: 20px;
    flex: 1 1 auto;
    img {
      max-width: 100%;
      height: auto;
    }
    @media (min-width: 576px) {
      font-size: 26px;
      min-width: 160px;
      flex: 0 0 auto;
      img {
        width: 160px;
        height: 160px;
      }
    }
    @media (min-width: 992px) {
      font-size: 36px;
      min-width: 220px;
      img {
        width: 220px;
        height: 220px;
      }
    }
    @media (min-width: 1200px) {
      font-size: 46px;
      min-width: 280px;
      img {
        width: 280px;
        height: 280px;
      }
    }
    &__title {
      margin-bottom: 6px;
    }
  }
  &__left {
    display: none;
    @media (min-width: 768px) {
      display: block;
    }
  }
  &__left,
  &__right {
    flex-grow: 1;
    @media (min-width: 768px) {
      color: #fff;
      background: #000;
      border-radius: 30px;
      padding: 10px 30px 30px;
      margin-left: 15px;
      margin-right: 15px;
    }
  }
  &__row {
    display: flex;
    flex-direction: column;
    @media (min-width: 576px) {
      flex-direction: row;
    }
    @media (min-width: 768px) {
      margin-left: -15px;
      margin-right: -15px;
    }
  }
  &__right {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-top: 16px;
    @media (min-width: 576px) {
      margin-top: 0;
    }
    &__btns {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      margin-left: 25px;
      flex: 1 0 auto;
      @media (min-width: 576px) {
        flex: 0 1 auto;
      }
      & > * + * {
        margin-top: 20px;
      }
      & > *:first-child {
        @media (max-width: 575.98px) {
          display: none;
        }
      }
    }
  }

  &__right-btn-mob {
    @media (min-width: 576px) {
      display: none;
    }
  }
}
